.dial {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 50vw;
}

.wrapper {
    height: 90vmin;
    position: relative;
    width: 90vmin;
}

.dial__background {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.dial__pointer {
    fill: #eeeeee;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 1000ms ease-in-out;
    width: 100%;
}

.dial__pointer--very-high {
    fill: #EE3350;
}

.dial__pointer--high {
    fill: #F89834;
}

.dial__pointer--moderate {
    fill: #FFE600;
}

.dial__pointer--low {
    fill: #74C050;
}

.dial__pointer--very-low {
    fill: #74C050;
}

.counter {
    align-items: center;
    display: flex;
    flex-direction: column;
    font: normal 2em/1 "Open Sans", sans-serif;
    height: 70%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    width: 100%;
}

.counter p {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 0.2em;
    color: #222222;
    margin: 0;
    opacity: 1;
    padding: 0 1em;
    transition: opacity 300ms ease-out;
}

.counter--inactive p {
    opacity: 0;
}

.counter__number {
    display: inline-block;
    text-align: right;
    width: 2em;
}

.counter__time {
    font-size: 0.6em;
}
